@charset "UTF-8";

body {
    background-color: rgb(189, 149, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h1 {
    color: aliceblue;
}
h2 {
    color: aliceblue;
}
p {
    text-align: justify;
}