@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #FAD9D1, #EB9D98);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #993865b8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #401131;
    text-align: center;
    text-shadow: 1px 1px 0px #EB9D98;
}

h2 {
    color: #993866;
}

p {
    text-align: justify;
}